<div id="<%= dom_id campaign %>">
  <p>
    <strong>Name:</strong>
    <%= campaign.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= campaign.description %>
  </p>

  <p>
    <strong>Target amount:</strong>
    <%= campaign.target_amount %>
  </p>

  <p>
    <strong>Raised amount:</strong>
    <%= campaign.raised_amount %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= campaign.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= campaign.end_date %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= campaign.slug %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= campaign.status %>
  </p>

</div>
